@import '../../index.scss';
@import '../../variables.scss';

.cards {
    &-content {
        & h2 {
            font-family: Gilroy-Bold;
            color: $white-color;
            font-size: rem(32px);
            text-transform: uppercase;
            padding-left: rem(20px);
            border-left: rem(3px) solid $main-color-green;
            margin-top: rem(50px);
            margin-left: rem(94px);
    
            
        }

        &-wrapper {
            /* margin-top: rem(50px); */
        }
    }
}

