@import '../../index.scss';
@import '../../variables.scss';

.basket {
    background: linear-gradient(0deg, rgba(33, 31, 32, 1), rgba(68, 64, 63, 1));
    &-menu {
        width: 100%;
        display: flex;
        align-items: center;
        padding: rem(23px) rem(50px) rem(24px) rem(100px);
        background-color: $main-color;
        border-bottom: rem(1px) solid rgb(153, 152, 152);
    }

    &-logo {
        text-transform: uppercase;
        font-family: Gilroy-Bold;
        font-weight: bold;
        font-size: rem(25px);
        color: $white-color;
        letter-spacing: rem(4.5px);
        width: rem(177px);
    }

    &-hamburger {
        display: none;
    }

    &-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: rem(568px);
        height: rem(52px);
        padding: rem(14px) rem(17px) rem(14px) rem(14px);
        background-color: $main-color-2;
        border-radius: rem(10px);

        &-loc {
            width: rem(25px);
            height: rem(25px);
        }

        &-search {
            width: rem(25px);
            height: rem(25px);
        }

        & input {
            width: 100%;
            background-color: $main-color-2;
            border: none;
            color: $input-color-text;
            font-size: rem(18px);
            margin-left: rem(12px);
            font-family: Gilroy-Normal;
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
    }

    &-contact {
        display: flex;
        align-items: center;
        margin-left: rem(31px);

        &-img {
            width: rem(33px);
            height: rem(33px);
            border-radius: 50%;
            background: $main-gradient-green;
            padding: rem(7px);
        }

        &-phone {
            color: $white-color;
            margin-left: rem(10px);
        }

        &-contacts {
            font-family: Gilroy-Normal;
            font-size: rem(12px);
        }

        &-number {
            font-family: Gilroy-Bold;
            font-size: rem(16px);
        }
    }

    &-signIn {
        display: flex;
        align-items: center;
        font-family: Gilroy-Bold;
        font-weight: 500;
        font-size: rem(18px);
        color: $white-color;
        background: transparent;
        border: none;
        height: rem(52px);
        border-left: 2px solid rgba(99, 92, 90, 1);
        margin-left: rem(45px);
        padding-left: rem(20px);
        width: rem(120px);
        cursor: pointer;

        &-img {
            width: rem(25px);
        }

        &-title {
            margin-left: rem(10px);
        }
    }

    &-basket {
        display: flex;
        align-items: center;
        background: $main-gradient-green;
        font-family: Gilroy-Bold;
        margin-left: rem(40px);
        padding: rem(7px) rem(13px) rem(7px) rem(22px);
        border-radius: rem(10px);
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        cursor: pointer;
        border: none;

        &-title {
            display: flex;
            align-items: center;
            padding: rem(5px);
            border-right: 1px solid $white-color;
            font-size: rem(14px);
            color: $white-color;
            padding: rem(10px) rem(0px);
            width: rem(78px);
        }

        &-number {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(12px);
            width: rem(25px);
            height: rem(25px);
            background-color: $white-color;
            margin-left: rem(10px);
        }
    }

    &-header {
        padding: rem(35px) rem(0) rem(0) rem(325px);

        &-return {
            font-family: Gilroy-Bold;
            font-size: rem(16px);
            color: $white-color;
            cursor: pointer;
        }

        &-title {
            margin-top: rem(20px);
            border-left: rem(4px) solid $main-color-green;
            display: flex;
            align-items: end;
            gap: rem(20px);
            padding-left: rem(20px);

            & h2 {
                text-transform: uppercase;
                color: $white-color;
                font-family: Gilroy-Bold;
                font-size: rem(32px);
            }

            & span {
                font-family: Gilroy-Normal;
                font-size: rem(15px);
                color: $main-color-green;
                margin-bottom: rem(4px);
            }
        }


    }

    &-list {
        padding: rem(75px) rem(180px) rem(35px) rem(175px);

        &-wrapper {
            border-radius: rem(10px);
            overflow: hidden;
        }
    }

    &-add {
        width: rem(1118px);
        margin: auto;
        padding-bottom: rem(30px);

        & h3 {
            font-family: Gilroy-Bold;
            font-size: rem(25.5px);
            color: $white-color;
            text-transform: uppercase;
        }

        &-wrapper {
            height: rem(240px);
            width: 100%;
            border-radius: rem(10px);
            overflow: hidden;
            margin-top: rem(32px);
            display: flex;
        }
    }

    &-devider {
        width: rem(1080px);
        height: rem(1px);
        background-color: rgb(153, 152, 152);
        margin: auto;
        margin-bottom: rem(49px);
    }

    &-result {
        margin: auto;
        width: rem(780px);
        height: rem(105px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(16px) rem(27px) rem(11px) rem(38px);
        background: linear-gradient(90deg, #494544, #504B4A);
        border-radius: rem(10px);
        margin-bottom: rem(90px);

        &-text>div:first-child>span:first-child {
            font-family: Gilroy-Normal;
            font-size: rem(18px);
            color: rgb(153, 152, 152);
        }

        &-text>div:first-child>span:last-child {
            font-family: Gilroy-Bold;
            font-size: rem(25px);
            color: $white-color;
        }

        &-text>div:nth-child(2)>span:first-child {
            font-family: Gilroy-Normal;
            font-size: rem(12.2px);
            color: $white-color;
        }

        &-text>div:nth-child(2)>span:last-child {
            font-family: Gilroy-Normal;
            font-size: rem(12.2px);
            color: $main-color-green;
        }

        &-text>div:last-child,
        &-text>div:first-child {
            font-family: Gilroy-Normal;
            font-size: rem(12px);
            color: $white-color;
            margin-top: rem(10px);
        }

        &-btn {
            width: rem(215px);
            height: rem(51px);
            border-radius: rem(10px);
            background: $main-gradient-green;
            border: none;
            font-size: rem(14px);
            font-family: Gilroy-Bold;
            color: $white-color;
            cursor: pointer;
        }
    }


}