@import '../../index.scss';
@import '../../variables.scss';

.card {
    width: rem(325px);
    height: rem(385px);
    font-family: Gilroy-Normal;
    color: $white-color;
    background-color: $main-color-2;
    overflow: hidden;
    border-radius: rem(10px);
    margin: auto;
    cursor: pointer;

    &-img {
        width: 100%;
        height: rem(227px);
    }

    &-content {
        padding: rem(10px) rem(20px);
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &-header h3 {
        font-size: rem(22px);
        font-family: Gilroy-Bold;
    }

    &-header span {
        font-size: rem(12px);
    }

    &-text {
        font-size: rem(13px);
        width: 90%;
        height: rem(45px);
        margin-top: rem(8px);
        overflow: hidden;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(18px);
    }

    &-price {
        font-size: rem(20px);
    }

    &-btn-basket {
        width: rem(138px);
        margin-right: rem(-4px);
        height: rem(43px);
        border-radius: rem(10px);
        padding: 0 rem(16px)  0 rem(18px);
        font-size: rem(14px);
        justify-content: space-between;

        & div:last-child {
            width: rem(25px);
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(18px);
    }

    &-btn-minus {
        width: rem(62px);
        height: rem(44px);
        margin-left: rem(-5px);

        & div {
            width: rem(22px);
            height: auto;
            width: rem(18px);
            height: rem(3.27px);
            background-color: $white-color;
            border-radius: rem(4px);
            margin: auto;
        }
    }

    

    &-btn-plus {
        width: rem(62px);
        height: rem(44px);
        margin-right: rem(-3px);

        & div:nth-child(1) {
            width: rem(18px);
            height: rem(3.27px);
            background-color: $white-color;
            border-radius: rem(4px);
            margin-left: rem(22px);
            
        }

        & div:nth-child(2) {
            height: rem(18px);
            width: rem(3.27px);
            background-color: $white-color;
            border-radius: rem(4px);
            margin-left: rem(-11px);
        }
    }

}

.btn {
    display: flex;
    align-items: center;
    background: $main-gradient-green;
    border: none;
    color: $white-color;
    cursor: pointer;
    border-radius: rem(10px);
}