@import '../../index.scss';
@import '../../variables.scss';

.header {
    background-color: #211F20;
    &-menu {
        width: 100%;
        display: flex;
        align-items: center;
        padding: rem(23px) rem(50px) rem(24px) rem(100px);
        background-color: $main-color;
        border-bottom: rem(1px) solid rgb(153, 152, 152);
    }

    &-logo {
        text-transform: uppercase;
        font-family: Gilroy-Bold;
        font-weight: bold;
        font-size: rem(25px);
        color: $white-color;
        letter-spacing: rem(4.5px);
        width: rem(177px);
    }

    &-hamburger {
        display: none;
    }

    &-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: rem(568px);
        height: rem(52px);
        padding: rem(14px) rem(17px) rem(14px) rem(14px);
        background-color: $main-color-2;
        border-radius: rem(10px);

        &-loc {
            width: rem(25px);
            height: rem(25px);
        }

        &-search {
            width: rem(25px);
            height: rem(25px);
        }

        & input {
            width: 100%;
            background-color: $main-color-2;
            border: none;
            color: $input-color-text;
            font-size: rem(18px);
            margin-left: rem(12px);
            font-family: Gilroy-Normal;
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
    }

    &-contact {
        display: flex;
        align-items: center;
        margin-left: rem(31px);

        &-img {
            width: rem(33px);
            height: rem(33px);
            border-radius: 50%;
            background: $main-gradient-green;
            padding: rem(7px);
        }

        &-phone {
            color: $white-color;
            margin-left: rem(10px);
        }

        &-contacts {
            font-family: Gilroy-Normal;
            font-size: rem(12px);
        }

        &-number {
            font-family: Gilroy-Bold;
            font-size: rem(16px);
        }
    }

    &-basket {
        display: flex;
        align-items: center;
        background: $main-gradient-green;
        font-family: Gilroy-Bold;
        margin-left: rem(205px);
        padding: rem(7px) rem(13px) rem(7px) rem(22px);
        border-radius: rem(10px);
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        cursor: pointer;
        border: none;

        &-title {
            display: flex;
            align-items: center;
            padding: rem(5px);
            border-right: 1px solid $white-color;
            font-size: rem(14px);
            color: $white-color;
            padding: rem(10px) rem(0px);
            width: rem(78px);
        }

        &-number {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(12px);
            width: rem(25px);
            height: rem(25px);
            background-color: $white-color;
            margin-left: rem(10px);
        }
    }
    &-main {
        width: 100%;
        height: rem(498px);
        overflow: hidden;
        position: relative;
        margin: auto;

        &-bg {
            & img {
                transform: rotate(-90deg) scale(0.61);
                margin-top: rem(-640px);
                margin-left: rem(174px);
            }
        }

        &-title {
            position: absolute;
            top: 0;
            left: 0;
            font-family: Zing-Rust-Demo;
            color: $white-color;
            width: rem(1102px);
            height: 100%;
            background: linear-gradient(90deg, #211F20, rgba(68, 64, 63, 1), transparent 85%);
            padding: rem(120px) rem(102px);

            & h1 {
                transform: rotate(-8.37deg);
                width: rem(620px);
                text-align: center;
                font-size: rem(67px);
                line-height: rem(73.16px);
                position: relative;
                letter-spacing: rem(1px);
                font-weight: 400;
            }

            & h1::before {
                content: 'Доставка вкуснейших блюд за 60 минут';
                display: block;
                position: absolute;
                top: rem(4px);
                left: rem(-12px);
                text-shadow: -1px 1px 3px $white-color;
                color: #211F20;
                z-index: -1;
            }
        }

        &-subtitle {
            width: rem(210px);
            transform: skew(-16deg)  rotate(-8.37deg);
            margin-left: rem(210px);
            margin-top: rem(37px);
            background: $main-gradient-green;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;

            & div {
                font-size: rem(25px);
                transform: skew(15deg) rotate(-0.5deg);
            }
        }
    }
}

@media (max-width: 576px)  {
    .header {
        &-menu {
            height: rem(545px);
            padding: rem(12px) rem(55px) rem(15px) rem(55px);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: normal;
        }

        &-logo {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            font-size: rem(90px);
        }

        &-hamburger {
            display: flex;
            flex-direction: column;
            align-items:center;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: max-content;
            margin-top: rem(32px);
            margin-left: rem(37px);
            cursor: pointer;

            & div:first-child>div {
                width: rem(95px);
                height: rem(13px);
                background-color: $main-color-green;
                border-radius: rem(5px);
                margin-bottom: rem(15px);
            }

            & div:last-child {
                margin-top: rem(10px);
                text-transform: uppercase;
                font-family: Gilroy-Bold;
                font-size: rem(48px);
                color: $white-color;
            }
        }

        &-contact {
            display: none;
        }
    }
}