@import '../../index.scss';
@import '../../variables.scss';

.header {
    background-color: $main-color;
    &-main {
        width: rem(1440px);
        height: rem(484px);
        overflow: hidden;
        position: relative;

        &-bg {
            & img {
                transform: rotate(-90deg) scale(0.61);
                margin-top: rem(-623px);
                margin-left: rem(170px);
            }
        }

        &-title {
            position: absolute;
            top: 0;
            left: 0;
            font-family: Zing-Rust-Demo;
            color: $white-color;
            width: rem(1102px);
            height: 100%;
            background: linear-gradient(90deg, #211F20, rgba(68, 64, 63, 1), transparent 85%);
            padding: rem(118px) rem(100px);

            & h1 {
                transform: rotate(-8.37deg);
                width: rem(600px);
                text-align: center;
                font-size: rem(67px);
                line-height: rem(73.16px);
                position: relative;
            }

            & h1::before {
                content: 'Доставка вкуснейших блюд за 60 минут';
                display: block;
                position: absolute;
                top: rem(4px);
                left: rem(-12px);
                text-shadow: -1px 1px 3px $white-color;
                color: #211F20;
                z-index: -1;
            }
        }

        &-subtitle {
            width: rem(210px);
            transform: skew(-16deg)  rotate(-8.37deg);
            margin-left: rem(200px);
            margin-top: rem(32px);
            background: $main-gradient-green;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;

            & div {
                font-size: rem(25px);
                transform: skew(15deg) rotate(-0.5deg);
            }
        }
    }
}

@media (max-width: 576px)  {
    .header {
        &-menu {
            height: rem(545px);
            padding: rem(12px) rem(55px) rem(15px) rem(55px);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: normal;
        }

        &-logo {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            font-size: rem(90px);
        }

        &-hamburger {
            display: flex;
            flex-direction: column;
            align-items:center;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: max-content;
            margin-top: rem(32px);
            margin-left: rem(37px);
            cursor: pointer;

            & div:first-child>div {
                width: rem(95px);
                height: rem(13px);
                background-color: $main-color-green;
                border-radius: rem(5px);
                margin-bottom: rem(15px);
            }

            & div:last-child {
                margin-top: rem(10px);
                text-transform: uppercase;
                font-family: Gilroy-Bold;
                font-size: rem(48px);
                color: $white-color;
            }
        }

        &-contact {
            display: none;
        }
    }
}