@import '../../index.scss';
@import '../../variables.scss';

.basketItem {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #494544, #504B4A);
    padding: rem(20px) rem(50px) rem(20px) rem(19px);
    border-bottom: 1px solid rgb(153, 152, 152);

    &-img {
        width: rem(117px);
        height: rem(86px);
    }

    &-text {
        margin-left: rem(45px);
        /* margin-top: rem(10px); */
        width: rem(508px);

        & div:first-child {
            font-family: Gilroy-Bold;
            font-size: rem(18px);
            text-transform: uppercase;
            color: $white-color;
        }

        & div:last-child {
            font-family: Gilroy-Normal;
            font-size: rem(12px);
            margin-top: rem(5px);
            width: rem(275px);
            height: rem(45px);
            color: #A6A7AB;
            overflow: hidden;
        }
    }

    &-number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin-top: rem(2px); */
        width: rem(91px);
        font-family: Gilroy-Normal;

        &-plus,
        &-minus {
            width: rem(27px);
            height: rem(27px);
            border-radius: 50%;
            background-color: $main-color-green;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        &-plus {
            padding: rem(7px) rem(7px);
        }

        &-minus {
            padding: rem(12px) rem(7px);
        }

        &-result {
            font-family: Greenwich-Bold;
            font-size: rem(20px);
            color: $white-color;
        }
    }

    &-price {
        font-family: Gilroy-Bold;
        font-size: rem(20px);
        color: $white-color;
        margin-left: rem(135px);
        /* margin-top: rem(32px); */
        width: rem(140px);
    }

    &-delete {
        width: rem(27px);
        height: rem(27px);
        border-radius: 50%;
        background-color: $main-color-green;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: rem(7px) rem(7px);
        transform: rotate(45deg);
        /* margin-top: rem(30px); */
    }
}


@media (max-width: 576px) {
    .basketItem {
        padding: rem(80px) rem(50px) rem(65px) rem(75px);
        border-bottom: 2px solid rgb(153, 152, 152);
        display: grid;
        grid-template-columns: rem(430px) rem(350px) 1fr;
        grid-template-rows: repeat(2, rem(160px));
    
        &-img {
            width: 100%;
            height: rem(320px);
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
    
        &-text {
            margin-left: rem(70px);
            margin-top: rem(55px);
            /* width: rem(508px); */
            grid-column: 2 / 4;
            grid-row: 1 / 2;
    
            & div:first-child {
                font-size: rem(60px);
            }
    
            & div:last-child {
                /* font-family: Gilroy-Normal;
                font-size: rem(12px);
                margin-top: rem(5px);
                width: rem(275px);
                height: rem(45px);
                color: #A6A7AB;
                overflow: hidden; */
                display: none;
            }
        }
    
        &-number {
            margin-top: rem(50px);
            margin-left: rem(70px);
            width: rem(235px);
            grid-column: 2 / 3;
            grid-row: 2 / 3;
    
            &-plus,
            &-minus {
                width: rem(70px);
                height: rem(70px);
            }
    
            &-plus {
                padding: rem(17px) rem(17px);
            }
    
            &-minus {
                padding: rem(30px) rem(17px);
            }
    
            &-result {
                font-size: rem(40px);
            }
        }
    
        &-price {
            font-family: Gilroy-Bold;
            font-size: rem(40px);
            color: $white-color;
            margin-left: rem(135px);
            margin-top: rem(50px);
            width: rem(140px);
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    
        &-delete {
            width: rem(70px);
            height: rem(70px);
            padding: rem(7px) rem(7px);
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            margin-left: rem(290px);
            margin-top: rem(50px);
            padding: rem(17px) rem(17px);
        }
    }
}