$main-color: #403C3B;
$main-color-2: #504B4A;
$main-color-3: rgb(30, 30, 30);
$main-gradient-green: linear-gradient(#618967, #72A479);
$main-color-green: #618967;

$input-color-text: #CFCFCF;

$white-color: #FFFFFF;